
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <div class="container">
        {% include header.html %}
        <div class="container boxxer">
            <a href="{{site.url}}/lang/{{page.lang}}/mantra"><button class="btn btn-primary">{{page.button1.title}}</button></a>
            <a href="{{site.url}}/lang/{{page.lang}}/timer"><button class="btn btn-primary">{{page.button2.title}}</button></a>
        </div>
    </div>
    <script src= "{{site.url}}/assets/bootstrap-3.4.1-dist/js/bootstrap.min.js" ></script>
</body>




</html>
