
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
    <body>
        
        <div class="container">
            {% include header.html %}
            <div class="countCnt countCntTmr">
                <div class="spcCntr"><span id="hr">00</span> {{page.hour}}<br> <span id="mn">00</span> {{page.min}} <br><span id="sc">00</span> {{page.sec}} <br></div>
            </div>
            <div class="slidecontainer">
                <input onchange="setValue()" type="range" min="1" max="3600" value="4" class="slider" id="myRange">
            </div>
            <div class="container boxxer">
                <a  ><button id="start" onclick="startTimer()" class="btn btn-primary">{{page.button1.title}}</button></a>
                <a  ><button id="stop" onclick="stopTimer()" class="btn btn-primary">{{page.button2.title}}</button></a>
                <a  ><button id="reset" onclick="resetTimer()" class="btn btn-primary">{{page.button3.title}}</button></a>
            </div>
        </div>

        <script src= "{{site.url}}/assets/timer.js" ></script>
        <script src= "{{site.url}}/assets/bootstrap-3.4.1-dist/js/bootstrap.min.js" ></script>
        
        <audio controls id="myAudio" loop>
            <source src="{{site.url}}/assets/sound.mp3" type="audio/mpeg" >
          </audio>
    </body>
</html>

